<%- include('../partials/header.ejs') %>

<!--START Advertisements Container-->
<div class="container mt-3" style="margin-bottom: 5em">
  <div class="row text-center">
    <div class="col">
      <h3 class="font-weight-bold">Advertisements</h3>
      <hr />
    </div>
  </div>
  <div class="row latest-advertisement-container"></div>
</div>
<!--END Advertisements Container-->

<script src="./advertisement.js"></script>
<%- include('../partials/footer.ejs') %>
