<div class="container my-5 py-5 z-depth-1">
  <!--Section: Content-->
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
    <!--Grid row-->
    <div class="row d-flex justify-content-center">
      <!--Grid column-->
      <div class="col-md-6">
        <!--Alert-->
        <div class="alert alert-danger text-center" role="alert"></div>
        <!--Alert-->

        <!-- Form login -->
        <form
          class="text-center"
          action="/api/advertisement"
          method="POST"
          id="new-advertisement-form"
        >
          <p class="h4 mb-4">New Advertisement</p>

          <!-- Title -->
          <input
            type="text"
            id="title"
            name="title"
            class="form-control mb-4"
            placeholder="Title"
          />

          <!-- Category -->
          <select class="form-control mb-4" id="category" name="category">
            <option selected>Category</option>
          </select>

          <!-- Subategory -->
          <select class="form-control mb-4" id="subcategory" name="subcategory">
            <option selected>Subcategory</option>
          </select>

          <!-- Description -->
          <textarea
            id="description"
            name="description"
            class="form-control mb-4"
            rows="5"
            placeholder="Description"
          ></textarea>

          <!-- Price -->
          <input
            type="number"
            id="price"
            name="price"
            class="form-control mb-4"
            min="1"
            placeholder="Price"
          />
          <!-- City -->
          <select class="form-control mb-4" id="city" name="city">
            <option selected>City</option>
          </select>

          <!-- Used -->
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="used"
              name="used"
              value="true"
            />
            <label class="custom-control-label" for="used"
              >Product is used.</label
            >
          </div>

          <!-- Create button -->
          <button class="btn btn-default my-4 btn-block" type="submit">
            Create
          </button>
        </form>

        <!-- Form login -->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </section>
  <!--Section: Content-->
</div>

<script>
  console.log(
    'NOTE: ON ADVERTISEMENT PAGE ADBLOCKER MAY BE BLOCKING THE SCRIPT FILE. ENSURE TO DISABLE ADBLOCK.'
  );
</script>
<script src="./new-advertisement.js"></script>
