<!--START Advertisements Container-->
<div class="container mt-3 mb-5">
  <div class="row text-center">
    <div class="col">
      <h3 class="font-weight-bold">Own Advertisements</h3>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="alert-container"></div>
    </div>

    <div class="table-responsive text-nowrap">
      <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Images</th>
            <th scope="col">Actions</th>
            <th scope="col">Sold</th>
          </tr>
        </thead>
        <tbody id="advertisement-table-body"></tbody>
      </table>
    </div>
  </div>
</div>
<!--END Advertisements Container-->
<script>
  console.log(
    'NOTE: ON ADVERTISEMENT PAGE ADBLOCKER MAY BE BLOCKING THE SCRIPT FILE. ENSURE TO DISABLE ADBLOCK.'
  );
</script>
<script src="/js/views/advertisement/user-own-advertisement.js"></script>
